Repository cogeor/clankers: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ruff-format, mypy

rustfmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

clippy:
  name: cargo clippy
  entry: cargo clippy --workspace --all-targets
  language: system
  pass_filenames: false

ruff-check:
  name: ruff check
  entry: ruff check python/
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: ruff format --check python/
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy python/clanker_gym/
  language: system
  pass_filenames: false

feat(policy): add OnnxPolicy for ONNX model inference behind onnx feature flag
  .delegate/work/20260224-200000-onnx-policy/02/IMPLEMENTATION.md
  .delegate/work/20260224-200000-onnx-policy/02/PLAN.md
  .delegate/work/20260224-200000-onnx-policy/02/TEST.md
  Cargo.lock
  Cargo.toml
  crates/clankers-policy/Cargo.toml
  crates/clankers-policy/src/lib.rs
  crates/clankers-policy/src/onnx.rs
  crates/clankers-policy/tests/fixtures/create_test_model.py
  crates/clankers-policy/tests/fixtures/test_policy_none.onnx
  crates/clankers-policy/tests/fixtures/test_policy_tanh.onnx
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

feat(policy): add OnnxPolicy for ONNX model inference behind onnx feature flag
  Cargo.lock
  Cargo.toml
  crates/clankers-policy/Cargo.toml
  crates/clankers-policy/src/lib.rs
  crates/clankers-policy/src/onnx.rs
  crates/clankers-policy/tests/fixtures/create_test_model.py
  crates/clankers-policy/tests/fixtures/test_policy_none.onnx
  crates/clankers-policy/tests/fixtures/test_policy_tanh.onnx
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

feat(python): add SB3-to-ONNX export script with clanker metadata
  .delegate/work/20260224-200000-onnx-policy/03/IMPLEMENTATION.md
  .delegate/work/20260224-200000-onnx-policy/03/PLAN.md
  .delegate/work/20260224-200000-onnx-policy/03/TEST.md
  python/examples/cartpole_ppo.onnx
  python/examples/export_sb3_to_onnx.py
Due: ruff-check, ruff-format, mypy

feat(python): add SB3-to-ONNX export script with clanker metadata
  python/examples/cartpole_ppo.onnx
  python/examples/export_sb3_to_onnx.py
Due: ruff-check, ruff-format, mypy

feat(examples): add cartpole_policy_viz binary for ONNX policy visualization
  .delegate/work/20260224-200000-onnx-policy/04/IMPLEMENTATION.md
  .delegate/work/20260224-200000-onnx-policy/04/PLAN.md
  .delegate/work/20260224-200000-onnx-policy/04/TEST.md
  Cargo.lock
  examples/Cargo.toml
  examples/src/bin/cartpole_policy_viz.rs
Due: rustfmt, clippy

feat(examples): add cartpole_policy_viz binary for ONNX policy visualization
  Cargo.lock
  examples/Cargo.toml
  examples/src/bin/cartpole_policy_viz.rs
Due: rustfmt, clippy

feat(viz): add robot selector UI with filtered joint display
  crates/clankers-viz/src/lib.rs
  crates/clankers-viz/src/plugin.rs
  crates/clankers-viz/src/ui.rs
Due: rustfmt, clippy

feat(viz): add robot selector UI with filtered joint display
  .delegate/work/20260224-210000-multi-robot-examples/01/IMPLEMENTATION.md
  .delegate/work/20260224-210000-multi-robot-examples/01/PLAN.md
  .delegate/work/20260224-210000-multi-robot-examples/01/TEST.md
  .delegate/work/20260224-210000-multi-robot-examples/LOOPS.yaml
  .delegate/work/20260224-210000-multi-robot-examples/TASK.md
  crates/clankers-viz/src/lib.rs
  crates/clankers-viz/src/plugin.rs
  crates/clankers-viz/src/ui.rs
Due: rustfmt, clippy

feat(viz): rebuild teleop bindings when selected robot changes
  crates/clankers-viz/src/input.rs
  crates/clankers-viz/src/plugin.rs
  crates/clankers-viz/src/systems.rs
Due: rustfmt, clippy

feat(viz): rebuild teleop bindings when selected robot changes
  .delegate/work/20260224-210000-multi-robot-examples/02/IMPLEMENTATION.md
  .delegate/work/20260224-210000-multi-robot-examples/02/PLAN.md
  .delegate/work/20260224-210000-multi-robot-examples/02/TEST.md
  crates/clankers-viz/src/input.rs
  crates/clankers-viz/src/plugin.rs
  crates/clankers-viz/src/systems.rs
Due: rustfmt, clippy

feat(examples): add multi_robot_viz with two-robot teleop and switching
  .delegate/work/20260224-210000-multi-robot-examples/03/IMPLEMENTATION.md
  .delegate/work/20260224-210000-multi-robot-examples/03/PLAN.md
  .delegate/work/20260224-210000-multi-robot-examples/03/TEST.md
  examples/src/bin/multi_robot_viz.rs
Due: rustfmt, clippy

feat(examples): add multi_robot_viz with two-robot teleop and switching
  examples/src/bin/multi_robot_viz.rs
Due: rustfmt, clippy

feat(ik): add clankers-ik crate with kinematic chain, FK, and DLS solver
  Cargo.lock
  Cargo.toml
  crates/clankers-ik/Cargo.toml
  crates/clankers-ik/src/chain.rs
  crates/clankers-ik/src/lib.rs
  crates/clankers-ik/src/solver.rs
Due: rustfmt, clippy

feat(ik): add Bevy plugin with IkChainMap, IkGoal, and ik_solve_system
  crates/clankers-ik/Cargo.toml
  crates/clankers-ik/src/chain.rs
  crates/clankers-ik/src/lib.rs
  crates/clankers-ik/src/plugin.rs
  crates/clankers-ik/src/solver.rs
Due: rustfmt, clippy

feat(examples): add 6-DOF arm IK example with DLS solver
  examples/Cargo.toml
  examples/src/bin/arm_ik.rs
Due: rustfmt, clippy

feat(examples): add 6-DOF arm IK example with DLS solver
  .delegate/work/20260224-ik-solver/03/IMPLEMENTATION.md
  .delegate/work/20260224-ik-solver/03/PLAN.md
  .delegate/work/20260224-ik-solver/03/TEST.md
  examples/Cargo.toml
  examples/src/bin/arm_ik.rs
Due: rustfmt, clippy

feat(examples): add quadruped URDF (4 legs × 2 joints = 8 DOF)
  examples/src/lib.rs
  examples/urdf/quadruped.urdf
Due: rustfmt, clippy

feat(examples): add quadruped URDF (4 legs × 2 joints = 8 DOF)
  .delegate/work/20260224-mpc-quadruped/01/IMPLEMENTATION.md
  .delegate/work/20260224-mpc-quadruped/01/PLAN.md
  .delegate/work/20260224-mpc-quadruped/01/TEST.md
  .delegate/work/20260224-mpc-quadruped/LOOPS.yaml
  .delegate/work/20260224-mpc-quadruped/TASK.md
  examples/src/lib.rs
  examples/urdf/quadruped.urdf
Due: rustfmt, clippy

feat(mpc): add centroidal dynamics model and gait scheduler
  .delegate/work/20260224-mpc-quadruped/02/TEST.md
  Cargo.lock
  Cargo.toml
  crates/clankers-mpc/Cargo.toml
  crates/clankers-mpc/src/centroidal.rs
  crates/clankers-mpc/src/gait.rs
  crates/clankers-mpc/src/lib.rs
  crates/clankers-mpc/src/types.rs
Due: rustfmt, clippy

feat(mpc): add centroidal dynamics model and gait scheduler
  Cargo.lock
  Cargo.toml
  crates/clankers-mpc/Cargo.toml
  crates/clankers-mpc/src/centroidal.rs
  crates/clankers-mpc/src/gait.rs
  crates/clankers-mpc/src/lib.rs
  crates/clankers-mpc/src/types.rs
Due: rustfmt, clippy

feat(mpc): add QP-based centroidal MPC solver with Clarabel
  crates/clankers-mpc/src/lib.rs
  crates/clankers-mpc/src/solver.rs
Due: rustfmt, clippy

feat(mpc): add whole body controller and swing leg planner
  crates/clankers-mpc/src/lib.rs
  crates/clankers-mpc/src/swing.rs
  crates/clankers-mpc/src/wbc.rs
Due: rustfmt, clippy

feat(mpc): add Bevy ECS plugin for MPC locomotion pipeline
  crates/clankers-mpc/src/plugin.rs
Due: rustfmt, clippy

feat(examples): add quadruped MPC headless example with Rapier physics
  examples/Cargo.toml
  examples/src/bin/quadruped_mpc.rs
Due: rustfmt, clippy

docs(mpc): add clankers-mpc crate documentation
  .delegate/doc/crates/clankers-mpc/README.md
Due: none

fix(examples): correct quadruped MPC viz with connect-the-dots visual sync
  examples/src/bin/quadruped_mpc_viz.rs
Due: rustfmt, clippy

chore(project): add build parallelism instructions to CLAUDE.md
  CLAUDE.md
Due: none

feat(mpc): improve centroidal MPC with matrix-exp discretization and tuned parameters
  crates/clankers-mpc/src/centroidal.rs
  crates/clankers-mpc/src/lib.rs
  crates/clankers-mpc/src/plugin.rs
  crates/clankers-mpc/src/solver.rs
  crates/clankers-mpc/src/swing.rs
  crates/clankers-mpc/src/types.rs
  crates/clankers-mpc/src/wbc.rs
Due: rustfmt, clippy

feat(physics): add position motor overrides and rotation-aware reset
  crates/clankers-physics/src/rapier/context.rs
  crates/clankers-physics/src/rapier/mod.rs
  crates/clankers-physics/src/rapier/systems.rs
Due: rustfmt, clippy

feat(examples): upgrade quadruped to 3-DOF legs with full MPC locomotion
  Cargo.lock
  examples/Cargo.toml
  examples/src/bin/quadruped_mpc.rs
  examples/src/bin/quadruped_mpc_viz.rs
  examples/src/lib.rs
  examples/urdf/quadruped.urdf
Due: rustfmt, clippy

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
