Repository cogeor/clankers: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Rust
      - id: rustfmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        types: [rust]
      - id: clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets
        language: system
        pass_filenames: false
        types: [rust]

      # Python
      - id: ruff-check
        name: ruff check
        entry: ruff check python/
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff format --check python/
        language: system
        pass_filenames: false
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy python/clanker_gym/
        language: system
        pass_filenames: false
        types: [python]

style(python): modernize type hints, sort imports, clean formatting
  python/clankers/__init__.py
  python/clankers/envs/__init__.py
  python/clankers/evaluation.py
  python/clankers/joint_encoder.py
  python/clankers/registration.py
  python/clankers/spaces.py
  python/clankers_synthetic/__init__.py
  python/clankers_synthetic/cli.py
  python/clankers_synthetic/ik_solver.py
  python/clankers_synthetic/openai_client.py
  python/clankers_synthetic/parser.py
  python/clankers_synthetic/specs.py
  python/clankers_synthetic/validator.py
  python/tests/clankers_synthetic/test_compiler.py
  python/tests/clankers_synthetic/test_ik_solver.py
  python/tests/clankers_synthetic/test_openai_client.py
  python/tests/clankers_synthetic/test_packager.py
  python/tests/clankers_synthetic/test_parser.py
  python/tests/clankers_synthetic/test_pvcb_refiner.py
  python/tests/clankers_synthetic/test_validator.py
  python/tests/test_evaluation.py
  python/tests/test_goal_env.py
  python/tests/test_joint_encoder.py
  python/tests/test_registration.py
  python/tests/test_trajectory_dataset.py
  python/tests/test_wrappers.py
Due: ruff-check, ruff-format, mypy

feat(synthetic): add scene specs, bridge module, and imitation learning
  python/clankers_synthetic/clankers_bridge.py
  python/clankers_synthetic/scenes/arm_pick_cube.json
  python/clankers_synthetic/scenes/arm_pick_cube_task.json
  python/clankers_synthetic/scripts/__init__.py
  python/examples/arm_imitation_learning.py
Due: ruff-check, ruff-format, mypy

feat(dl): support 8-joint velocity prediction in eval and training
  python/examples/eval_pick_policy.py
  python/examples/train_joint_bc.py
  python/tests/test_dl_pipeline_e2e.py
Due: ruff-check, ruff-format, mypy

docs: rewrite README with architecture and usage guide
  README.md
Due: none

fix(ci): fix rustdoc warnings and update CI mypy path for renamed package
  .github/workflows/ci.yml
  crates/clankers-ik/src/plugin.rs
  crates/clankers-mpc/src/gait.rs
  crates/clankers-mpc/src/solver.rs
  crates/clankers-physics/src/rapier/context.rs
  crates/clankers-policy/src/onnx.rs
  crates/clankers-record/src/lib.rs
  crates/clankers-record/src/recorder.rs
  crates/clankers-record/src/types.rs
  crates/clankers-render/src/camera.rs
  crates/clankers-render/src/depth.rs
  crates/clankers-render/src/lib.rs
  crates/clankers-render/src/readback.rs
  crates/clankers-render/src/segmentation.rs
  crates/clankers-viz/src/replay.rs
  examples/src/bin/cartpole_policy_viz.rs
  examples/src/bin/quadruped_mpc_bench.rs
Due: rustfmt, clippy

fix(python): resolve all ruff lint errors and format all Python files
  python/clankers/__init__.py
  python/clankers/envs/arm_pick.py
  python/clankers/envs/arm_reach.py
  python/clankers/evaluation.py
  python/clankers/goal_env.py
  python/clankers/trajectory_dataset.py
  python/clankers/wrappers.py
  python/clankers_synthetic/__init__.py
  python/clankers_synthetic/__main__.py
  python/clankers_synthetic/clankers_bridge.py
  python/clankers_synthetic/cli.py
  python/clankers_synthetic/compiler.py
  python/clankers_synthetic/ik_solver.py
  python/clankers_synthetic/mcap_writer.py
  python/clankers_synthetic/openai_client.py
  python/clankers_synthetic/packager.py
  python/clankers_synthetic/parser.py
  python/clankers_synthetic/pipeline.py
  python/clankers_synthetic/planner.py
  python/clankers_synthetic/pvcb_refiner.py
  python/clankers_synthetic/scripts/batch_generate.py
  python/clankers_synthetic/scripts/run_arm_pick.py
  python/clankers_synthetic/specs.py
  python/clankers_synthetic/validator.py
  python/examples/arm_imitation_learning.py
  python/examples/eval_pick_policy.py
  python/examples/replay_policy.py
  python/tests/clankers_synthetic/test_compiler.py
  python/tests/clankers_synthetic/test_openai_client.py
  python/tests/clankers_synthetic/test_packager.py
  python/tests/clankers_synthetic/test_parser.py
  python/tests/clankers_synthetic/test_pipeline_e2e.py
  python/tests/clankers_synthetic/test_planner.py
  python/tests/clankers_synthetic/test_pvcb_refiner.py
  python/tests/clankers_synthetic/test_specs.py
  python/tests/clankers_synthetic/test_validator.py
  python/tests/test_dl_pipeline_e2e.py
  python/tests/test_evaluation.py
  python/tests/test_spaces.py
  python/tests/test_wrappers.py
Due: ruff-check, ruff-format, mypy

chore: remove .delegate from repo, add to .gitignore
  .gitignore
Due: none

fix(python): resolve all mypy type errors across clankers package
  python/clankers/augmentation/pipeline.py
  python/clankers/env.py
  python/clankers/evaluation.py
  python/clankers/goal_env.py
  python/clankers/gymnasium_env.py
  python/clankers/mcap_loader.py
  python/clankers/trajectory_dataset.py
  python/clankers/vec_env.py
  python/clankers/wrappers.py
  python/pyproject.toml
Due: ruff-check, ruff-format, mypy

docs: rewrite README to focus on current features
  README.md
Due: none

fix(ci): install Linux deps for Bevy, fix mypy ignore codes for CI env
  .github/workflows/ci.yml
  python/clankers/augmentation/mcap_augmentor.py
  python/clankers/mcap_loader.py
  python/clankers/wrappers.py
Due: ruff-check, ruff-format, mypy

fix(ci): add missing Linux deps for Bevy (libx11-dev, libxkbcommon-x11-0)
  .github/workflows/ci.yml
Due: none

fix(ci): use official Bevy CI dependency list (libasound2, libudev, libwayland)
  .github/workflows/ci.yml
Due: none

test(mpc): mark non-deterministic MPC tests as #[ignore]
  examples/tests/mpc_walk.rs
Due: rustfmt, clippy

fix(ci): bust Rust build cache to clear stale artifacts
  .github/workflows/ci.yml
Due: none

fix(ci): add clippy error output capture for debugging
  .github/workflows/ci.yml
Due: none

fix(ci): upload clippy output as artifact for debugging
  .github/workflows/ci.yml
Due: none

fix(ci): write clippy errors to step summary
  .github/workflows/ci.yml
Due: none

fix(ci): add reason string to #[ignore] attributes, clean up CI diagnostics
  .github/workflows/ci.yml
  examples/tests/mpc_walk.rs
Due: rustfmt, clippy

fix(ci): drop Windows from test matrix (OOM on free-tier runners)
  .github/workflows/ci.yml
Due: none

refactor(ci): professional CI pipeline with pinned toolchain and unit tests only
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  examples/tests/mpc_walk.rs
  rust-toolchain.toml
Due: rustfmt, clippy

test(mpc): mark solve_time_reasonable as ignored on CI
  crates/clankers-mpc/src/solver.rs
Due: rustfmt, clippy

fix(ci): exclude examples crate from test to avoid ORT dylib issue
  .github/workflows/ci.yml
Due: none

feat(python): vision-based imitation learning pipeline
  python/clankers/vision_dataset.py
  python/clankers/vision_model.py
  python/examples/arm_imitation_learning.py
  python/examples/train_vision_bc.py
  python/pyproject.toml
Due: ruff-check, ruff-format, mypy

feat(policy): multi-input vision OnnxPolicy + arm_policy_viz binary
  Cargo.lock
  crates/clankers-policy/src/onnx.rs
  crates/clankers-render/src/camera.rs
  crates/clankers-render/src/depth.rs
  crates/clankers-render/src/readback.rs
  crates/clankers-render/src/segmentation.rs
  examples/Cargo.toml
  examples/src/bin/arm_policy_viz.rs
Due: rustfmt, clippy

feat(dataset): arm pick dataset pipeline with image saving and grip filtering
  crates/clankers-record/src/lib.rs
  crates/clankers-record/src/plugin.rs
  crates/clankers-record/src/recorder.rs
  crates/clankers-record/src/types.rs
  python/clankers/dataset_saver.py
  python/clankers/mcap_loader.py
  python/tests/test_arm_dataset_pipeline.py
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

feat(dataset): arm pick recording binary + vision pipeline fixes
  crates/clankers-policy/src/onnx.rs
  crates/clankers-record/src/recorder.rs
  crates/clankers-render/src/readback.rs
  examples/Cargo.toml
  examples/src/bin/arm_pick_record.rs
  python/clankers/dataset_saver.py
  python/tests/test_arm_dataset_pipeline.py
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

fix(viz): motor overrides for all joints + optional TeleopCommander
  crates/clankers-physics/src/rapier/systems.rs
  crates/clankers-viz/src/input.rs
  crates/clankers-viz/src/systems.rs
  crates/clankers-viz/src/ui.rs
  examples/src/bin/arm_policy_viz.rs
Due: rustfmt, clippy

fix(ci): consolidate 6 jobs to 3 and fix lint warnings
  .github/workflows/ci.yml
  crates/clankers-render/src/segmentation.rs
Due: rustfmt, clippy

fix(arm): pre-populate MotorOverrides to prevent startup collapse
  .gitignore
  crates/clankers-physics/src/rapier/bridge.rs
  data_gen.txt
  examples/src/arm_setup.rs
  examples/src/bin/arm_ik_viz.rs
  examples/src/bin/arm_pick_gym.rs
  examples/src/bin/arm_pick_record.rs
  examples/src/bin/arm_policy_viz.rs
  gemini_report.md
  gemini_report_2026-02-28.md
  mpc_gait_root_cause_report.md
  quadruped_mpc_report.md
  task.txt
Due: rustfmt, clippy

fix(arm): correct joint setup to prevent arm collapse and ground z-fighting
  crates/clankers-physics/src/rapier/bridge.rs
  crates/clankers-viz/src/camera.rs
  examples/src/arm_setup.rs
  examples/tests/arm_startup.rs
Due: rustfmt, clippy

refactor(examples): extract shared arm visuals into arm_visuals.rs
  examples/src/arm_visuals.rs
  examples/src/bin/arm_ik_viz.rs
  examples/src/bin/arm_pick_record.rs
  examples/src/bin/arm_pick_replay.rs
  examples/src/lib.rs
Due: rustfmt, clippy

feat(replay): add --record and --gif options for frame capture
  Cargo.toml
  examples/Cargo.toml
  examples/src/bin/arm_pick_replay.rs
Due: rustfmt, clippy

refactor(viz): add generic ObservationCamera for decoupled viewports
  crates/clankers-viz/src/camera.rs
  crates/clankers-viz/src/lib.rs
  examples/src/bin/arm_ik_viz.rs
Due: rustfmt, clippy

feat(replay): add --augment option for sim-to-real augmented GIF
  examples/src/bin/arm_pick_replay.rs
Due: rustfmt, clippy

fix(policy): make ONNX tests resilient to ORT runtime unavailability
  crates/clankers-policy/src/onnx.rs
Due: rustfmt, clippy

fix(ort): vendor ORT_DYLIB_PATH to bypass stale system onnxruntime.dll
  .cargo/config.toml
  .gitignore
Due: none

feat(replay): add observation camera and dual GIF output
  examples/src/bin/arm_pick_replay.rs
Due: rustfmt, clippy

feat(cosmos): add Cosmos-Transfer2.5 sim-to-real pipeline
  python/clankers/cosmos/__init__.py
  python/clankers/cosmos/__main__.py
  python/clankers/cosmos/download.py
  python/clankers/cosmos/infer.py
  python/clankers/cosmos/prepare.py
  python/pyproject.toml
Due: ruff-check, ruff-format, mypy

refactor(render): add keyed depth and segmentation frame buffers
  crates/clankers-render/src/buffer.rs
  crates/clankers-render/src/depth.rs
  crates/clankers-render/src/lib.rs
  crates/clankers-render/src/segmentation.rs
Due: rustfmt, clippy

feat(render): add CosmosLogPlugin for multi-camera frame export
  crates/clankers-render/Cargo.toml
  crates/clankers-render/src/cosmos_log/cameras.rs
  crates/clankers-render/src/cosmos_log/config.rs
  crates/clankers-render/src/cosmos_log/metadata.rs
  crates/clankers-render/src/cosmos_log/mod.rs
  crates/clankers-render/src/cosmos_log/writer.rs
  crates/clankers-render/src/lib.rs
Due: rustfmt, clippy
