Repository cogeor/clankers: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ruff-format, mypy

rustfmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

clippy:
  name: cargo clippy
  entry: cargo clippy --workspace --all-targets
  language: system
  pass_filenames: false

ruff-check:
  name: ruff check
  entry: ruff check python/
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: ruff format --check python/
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy python/clanker_gym/
  language: system
  pass_filenames: false

feat(cli): add bench subcommand with locked CSV schema; commit two baselines
  .gitignore
  Cargo.lock
  Cargo.toml
  apps/clankers-app/Cargo.toml
  apps/clankers-app/src/commands/bench.rs
  apps/clankers-app/src/main.rs
  apps/clankers-app/tests/cli_bench.rs
  notes/baselines/arm_pick_baseline.csv
  notes/baselines/cartpole_baseline.csv
Due: rustfmt, clippy

feat(record): topic schema constants + 2-camera roundtrip
  crates/clankers-record/Cargo.toml
  crates/clankers-record/examples/fixture_gen.rs
  crates/clankers-record/src/lib.rs
  crates/clankers-record/src/recorder.rs
  crates/clankers-record/src/schema.rs
  crates/clankers-record/tests/multi_camera_roundtrip.rs
  python/tests/fixtures/two_camera.mcap
Due: rustfmt, clippy

feat(python): multi-camera mcap loader + un-ignore CI tests + nightly workflow stub
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  python/clankers/mcap_loader.py
  python/pyproject.toml
  python/tests/test_dl_pipeline_e2e.py
  python/tests/test_mcap_loader.py
  python/tests/test_trajectory_dataset.py
Due: ruff-check, ruff-format, mypy

feat(env): add ParallelVecEnvRunner with deterministic seeding
  Cargo.lock
  Cargo.toml
  crates/clankers-env/Cargo.toml
  crates/clankers-env/src/lib.rs
  crates/clankers-env/src/parallel_runner.rs
  crates/clankers-env/src/vec_env.rs
  crates/clankers-env/src/vec_runner.rs
  crates/clankers-env/tests/parallel_determinism.rs
  crates/clankers-gym/Cargo.toml
  crates/clankers-gym/src/env.rs
  crates/clankers-gym/src/vec_env.rs
Due: rustfmt, clippy

feat(gym): binary batch frame for high-throughput training (PROTOCOL_VERSION 1.2.0)
  Cargo.lock
  crates/clankers-gym/Cargo.toml
  crates/clankers-gym/src/binary_frame.rs
  crates/clankers-gym/src/encoding.rs
  crates/clankers-gym/src/lib.rs
  crates/clankers-gym/src/protocol.rs
  crates/clankers-gym/src/server.rs
  crates/clankers-gym/src/state_machine.rs
  crates/clankers-gym/tests/binary_protocol_roundtrip.rs
Due: rustfmt, clippy

perf(physics): compile setup HashMaps to dense runtime vectors
  Cargo.lock
  crates/clankers-core/src/lib.rs
  crates/clankers-core/src/types.rs
  crates/clankers-physics/Cargo.toml
  crates/clankers-physics/src/rapier/context.rs
  crates/clankers-physics/src/rapier/mod.rs
  crates/clankers-physics/src/rapier/runtime.rs
  crates/clankers-physics/src/rapier/systems.rs
  crates/clankers-physics/tests/dense_runtime.rs
  crates/clankers-sim/src/builder.rs
Due: rustfmt, clippy

feat(record,cli): async recorder, bench subcommand bodies, CI baseline gate
  .github/workflows/ci.yml
  Cargo.lock
  apps/clankers-app/Cargo.toml
  apps/clankers-app/src/commands/bench.rs
  apps/clankers-app/src/commands/info.rs
  apps/clankers-app/src/main.rs
  benches/vec.rs
  crates/clankers-record/Cargo.toml
  crates/clankers-record/examples/fixture_gen.rs
  crates/clankers-record/src/async_writer.rs
  crates/clankers-record/src/lib.rs
  crates/clankers-record/src/recorder.rs
  crates/clankers-record/src/schema.rs
  crates/clankers-record/tests/async_backpressure.rs
  crates/clankers-record/tests/multi_camera_roundtrip.rs
  notes/baselines/mpc_baseline.csv
  notes/baselines/protocol_baseline.csv
  notes/baselines/record_baseline.csv
  notes/baselines/vec_baseline.csv
  scripts/compare_baseline.py
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

refactor(examples,sim): lift arm scenarios + xtask LOC ceiling
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/clankers-record/src/recorder.rs
  crates/clankers-sim/src/lib.rs
  crates/clankers-sim/src/scenarios/arm_bench.rs
  crates/clankers-sim/src/scenarios/arm_ik.rs
  crates/clankers-sim/src/scenarios/arm_two_link.rs
  crates/clankers-sim/src/scenarios/mod.rs
  crates/clankers-sim/tests/scenario_smoke.rs
  crates/clankers-sim/tests/scenarios_registry.rs
  crates/clankers-viz/src/lib.rs
  crates/clankers-viz/src/overlays/arm_ik_overlay.rs
  crates/clankers-viz/src/overlays/arm_pick_replay_overlay.rs
  crates/clankers-viz/src/overlays/arm_policy_overlay.rs
  crates/clankers-viz/src/overlays/mod.rs
  xtask/Cargo.toml
  xtask/src/lib.rs
  xtask/src/line_count.rs
  xtask/src/main.rs
  xtask/tests/bin_line_count.rs
Due: rustfmt, clippy

refactor(examples,sim): lift cartpole/pendulum/multi-robot/domain-rand scenarios; shrink 6 bins (partial loop 08)
  crates/clankers-sim/Cargo.toml
  crates/clankers-sim/src/scenarios/cartpole.rs
  crates/clankers-sim/src/scenarios/domain_rand_pendulum.rs
  crates/clankers-sim/src/scenarios/mod.rs
  crates/clankers-sim/src/scenarios/multi_robot.rs
  crates/clankers-sim/src/scenarios/pendulum.rs
  crates/clankers-sim/tests/scenario_smoke.rs
  crates/clankers-sim/tests/scenarios_registry.rs
  examples/src/bin/cartpole_gym.rs
  examples/src/bin/cartpole_vec_benchmark.rs
  examples/src/bin/cartpole_vec_gym.rs
  examples/src/bin/domain_rand.rs
  examples/src/bin/multi_robot.rs
  examples/src/bin/pendulum_headless.rs
  xtask/src/line_count.rs
  xtask/tests/bin_line_count.rs
Due: rustfmt, clippy

feat(ci,synthetic): tighten CI + action_semantics on synthetic compiler
  .github/workflows/ci.yml
  python/clankers_synthetic/__init__.py
  python/clankers_synthetic/action_adapter.py
  python/clankers_synthetic/compiler.py
  python/clankers_synthetic/errors.py
  python/clankers_synthetic/pipeline.py
  python/clankers_synthetic/pyproject.toml
  python/clankers_synthetic/scripts/batch_generate.py
  python/clankers_synthetic/scripts/run_arm_pick.py
  python/clankers_synthetic/specs.py
  python/pyproject.toml
  python/tests/clankers_synthetic/test_packager.py
  python/tests/clankers_synthetic/test_specs.py
  python/tests/clankers_synthetic/test_validator.py
  python/tests/test_synthetic_action_semantics.py
  xtask/src/line_count.rs
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

ci: split torch-dependent tests into tests/slow + reclaim runner disk
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  python/requirements-ci.txt
  python/tests/slow/__init__.py
  python/tests/slow/test_dl_pipeline_e2e.py
  python/tests/slow/test_trajectory_dataset.py
  scripts/ci-local.ps1
Due: ruff-check, ruff-format, mypy

docs: fix rustdoc errors latent behind the prior cargo test failure
  crates/clankers-record/src/async_writer.rs
  crates/clankers-record/src/recorder.rs
  crates/clankers-sim/src/scenarios/arm_bench.rs
  crates/clankers-sim/src/scenarios/arm_ik.rs
  crates/clankers-sim/src/scenarios/arm_two_link.rs
  crates/clankers-sim/src/scenarios/cartpole.rs
  crates/clankers-viz/src/overlays/mod.rs
  examples/src/quadruped_setup.rs
Due: rustfmt, clippy

fix(xtask): split too-long first doc paragraph in examples_bin_dir
  xtask/src/line_count.rs
Due: rustfmt, clippy

ci(bench): widen vec_baseline tolerance 0.15->0.50 (P0 unblock)
  .github/workflows/ci.yml
Due: none

feat(bench): add work_us busy-loop knob to ConstBenchEnv
  apps/clankers-app/src/commands/bench.rs
  benches/vec.rs
Due: rustfmt, clippy

feat(bench,ci): replace absolute-throughput vec gate with ratio gate
  .github/workflows/ci.yml
  apps/clankers-app/src/commands/bench.rs
  scripts/ci-local.ps1
Due: rustfmt, clippy

ci(baselines): add workflow_dispatch baseline recapture job
  .github/workflows/baselines.yml
Due: none

fix(synthetic): route every skill env.step through the action adapter
  python/clankers_synthetic/compiler.py
  python/tests/clankers_synthetic/test_compiler.py
Due: ruff-check, ruff-format, mypy

fix(gym): batch_reset rejects mismatched seeds/env_ids length
  crates/clankers-gym/src/server.rs
  python/clankers/vec_env.py
  python/tests/test_vec_env.py
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

fix(core): Discrete observation rejects NaN/Inf/negative/non-integer
  crates/clankers-core/src/types.rs
Due: rustfmt, clippy

fix(core,env): layout binding cannot partially bind in release
  crates/clankers-core/src/layout.rs
  crates/clankers-env/Cargo.toml
  crates/clankers-env/src/sensors.rs
Due: rustfmt, clippy

refactor(bench): split commands/bench.rs by concern
  apps/clankers-app/src/commands/bench.rs
  apps/clankers-app/src/commands/bench/args.rs
  apps/clankers-app/src/commands/bench/csv.rs
  apps/clankers-app/src/commands/bench/gate.rs
  apps/clankers-app/src/commands/bench/mod.rs
  apps/clankers-app/src/commands/bench/mpc.rs
  apps/clankers-app/src/commands/bench/protocol.rs
  apps/clankers-app/src/commands/bench/record.rs
  apps/clankers-app/src/commands/bench/scenario.rs
  apps/clankers-app/src/commands/bench/stats.rs
  apps/clankers-app/src/commands/bench/vec.rs
Due: rustfmt, clippy

refactor(gym): typed Capabilities struct, wire-compatible with HashMap
  Cargo.lock
  apps/clankers-app/tests/it/cli_serve_protocol.rs
  crates/clankers-gym/src/protocol.rs
  crates/clankers-gym/src/server.rs
  crates/clankers-gym/src/state_machine.rs
  crates/clankers-gym/tests/it/binary_protocol_roundtrip.rs
  crates/clankers-gym/tests/it/protocol_image_reset.rs
Due: rustfmt, clippy

feat(gym): apply configured read/write timeouts on accepted clients
  crates/clankers-gym/src/server.rs
Due: rustfmt, clippy

feat(python-client): align PROTOCOL_VERSION to 1.2.0
  python/clankers/client.py
Due: ruff-check, ruff-format, mypy

feat(core): Action::try_scale + doc panicking values()/scale() as legacy
  crates/clankers-core/src/types.rs
Due: rustfmt, clippy

ci(synthetic): type-check clankers_synthetic in CI
  .github/workflows/ci.yml
  python/clankers/vision_model.py
  python/clankers_synthetic/action_adapter.py
  python/clankers_synthetic/clankers_bridge.py
  python/clankers_synthetic/compiler.py
  python/clankers_synthetic/ik_solver.py
  python/clankers_synthetic/mcap_writer.py
  python/clankers_synthetic/scripts/batch_generate.py
  python/clankers_synthetic/scripts/run_arm_pick.py
  python/clankers_synthetic/specs.py
  python/pyproject.toml
Due: ruff-check, ruff-format, mypy

refactor(gym): explicit VecEnv constructors + new_auto -> Result
  crates/clankers-gym/src/vec_env.rs
Due: rustfmt, clippy

refactor(synthetic): extract _step_and_record helper in compiler
  python/clankers_synthetic/compiler.py
Due: ruff-check, ruff-format, mypy

ci(baselines): move runbook prose out of YAML into docs
  .github/workflows/baselines.yml
Due: none

refactor(synthetic): SkillValidator registry in PlanParser
  python/clankers_synthetic/parser.py
Due: ruff-check, ruff-format, mypy

feat(python-client): add MultiDiscrete / MultiBinary / Image spaces
  python/clankers/spaces.py
  python/tests/test_spaces.py
Due: ruff-check, ruff-format, mypy

test(env): paired sequential/parallel auto-reset parity
  crates/clankers-env/tests/it/auto_reset_parity.rs
  crates/clankers-env/tests/it/main.rs
Due: rustfmt, clippy

feat(record): async RawFrame path + per-kind dropped-frame counter
  crates/clankers-record/src/async_writer.rs
  crates/clankers-record/src/recorder.rs
Due: rustfmt, clippy

feat(record): RecorderHealth resource surfaces worker errors
  crates/clankers-record/src/async_writer.rs
Due: rustfmt, clippy

feat(physics): neutral BodyHandle / JointHandle / BodyPose / ContactEvent
  Cargo.lock
  crates/clankers-physics/Cargo.toml
  crates/clankers-physics/src/lib.rs
  crates/clankers-physics/src/neutral.rs
Due: rustfmt, clippy

feat(protocol): generic TensorFrameHeader (48 B) for binary tensor path
  crates/clankers-gym/src/lib.rs
  crates/clankers-gym/src/tensor_frame.rs
Due: rustfmt, clippy

feat(physics): SoA JointCommand / JointState / BodyState buffers
  crates/clankers-physics/src/buffers.rs
  crates/clankers-physics/src/lib.rs
Due: rustfmt, clippy

feat(sim): SimDiagnostics resource for per-step phase timings
  crates/clankers-sim/src/lib.rs
  crates/clankers-sim/src/telemetry.rs
Due: rustfmt, clippy

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
