Repository cogeor/clankers: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Rust
      - id: rustfmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        types: [rust]
      - id: clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets
        language: system
        pass_filenames: false
        types: [rust]

      # Python
      - id: ruff-check
        name: ruff check
        entry: ruff check python/
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff format --check python/
        language: system
        pass_filenames: false
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy python/clanker_gym/
        language: system
        pass_filenames: false
        types: [python]

feat(viz): add clankers-viz crate with orbit camera, egui panel, and viz CLI subcommand
  .gitignore
  Cargo.lock
  Cargo.toml
  apps/clankers-app/src/main.rs
  crates/clankers-viz/Cargo.toml
  crates/clankers-viz/src/camera.rs
  crates/clankers-viz/src/config.rs
  crates/clankers-viz/src/lib.rs
  crates/clankers-viz/src/mode.rs
  crates/clankers-viz/src/plugin.rs
  crates/clankers-viz/src/ui.rs
Due: rustfmt, clippy

feat(viz): add teleop input, mode gating, and enhanced egui panels
  crates/clankers-viz/src/config.rs
  crates/clankers-viz/src/input.rs
  crates/clankers-viz/src/lib.rs
  crates/clankers-viz/src/mode.rs
  crates/clankers-viz/src/plugin.rs
  crates/clankers-viz/src/systems.rs
  crates/clankers-viz/src/ui.rs
Due: rustfmt, clippy

fix(viz): use EguiPrimaryContextPass schedule and add unit tests
  crates/clankers-viz/src/input.rs
  crates/clankers-viz/src/plugin.rs
  crates/clankers-viz/src/systems.rs
Due: rustfmt, clippy

feat(physics): add clankers-physics crate with engine-agnostic trait API
  Cargo.lock
  Cargo.toml
  crates/clankers-physics/Cargo.toml
  crates/clankers-physics/src/backend.rs
  crates/clankers-physics/src/components.rs
  crates/clankers-physics/src/lib.rs
  crates/clankers-physics/src/plugin.rs
  crates/clankers-physics/src/systems.rs
Due: rustfmt, clippy

feat(physics): implement rapier3d backend with URDF bridge and torque/state sync
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/clankers-physics/Cargo.toml
  crates/clankers-physics/src/lib.rs
  crates/clankers-physics/src/rapier/backend.rs
  crates/clankers-physics/src/rapier/bridge.rs
  crates/clankers-physics/src/rapier/context.rs
  crates/clankers-physics/src/rapier/mod.rs
  crates/clankers-physics/src/rapier/systems.rs
Due: rustfmt, clippy

feat(examples): wire rapier physics into pendulum_viz and add examples crate
  Cargo.lock
  examples/Cargo.toml
  examples/python/gym_client.py
  examples/src/bin/arm_with_policy.rs
  examples/src/bin/cartpole_gym.rs
  examples/src/bin/domain_rand.rs
  examples/src/bin/multi_robot.rs
  examples/src/bin/pendulum_headless.rs
  examples/src/bin/pendulum_viz.rs
  examples/src/lib.rs
  examples/urdf/cartpole.urdf
  examples/urdf/pendulum.urdf
  examples/urdf/six_dof_arm.urdf
  examples/urdf/two_link_arm.urdf
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

feat(examples): wire rapier physics into pendulum_viz and add examples crate
  .delegate/work/20260224-021814-physics-module/03/IMPLEMENTATION.md
  .delegate/work/20260224-021814-physics-module/03/PLAN.md
  .delegate/work/20260224-021814-physics-module/03/TEST.md
  .delegate/work/20260224-021814-physics-module/LOOPS.yaml
  Cargo.lock
  examples/Cargo.toml
  examples/python/gym_client.py
  examples/src/bin/arm_with_policy.rs
  examples/src/bin/cartpole_gym.rs
  examples/src/bin/domain_rand.rs
  examples/src/bin/multi_robot.rs
  examples/src/bin/pendulum_headless.rs
  examples/src/bin/pendulum_viz.rs
  examples/src/lib.rs
  examples/urdf/cartpole.urdf
  examples/urdf/pendulum.urdf
  examples/urdf/six_dof_arm.urdf
  examples/urdf/two_link_arm.urdf
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

fix(physics): correct motor API, body positions, sleep, and viz integration
  crates/clankers-physics/src/rapier/bridge.rs
  crates/clankers-physics/src/rapier/systems.rs
  crates/clankers-physics/tests/cartpole_dynamics.rs
  crates/clankers-viz/src/camera.rs
  crates/clankers-viz/src/input.rs
  crates/clankers-viz/src/mode.rs
  crates/clankers-viz/src/plugin.rs
  examples/src/bin/pendulum_viz.rs
Due: rustfmt, clippy

feat(examples): align cart-pole URDF with OpenAI Gym CartPole-v1 parameters
  crates/clankers-physics/tests/cartpole_dynamics.rs
  examples/src/bin/pendulum_viz.rs
  examples/urdf/cartpole.urdf
Due: rustfmt, clippy

feat(gym): wire Rapier physics into cartpole_gym server and add state reader
  examples/src/bin/cartpole_gym.rs
  python/clanker_gym/spaces.py
  python/examples/cartpole_read_state.py
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

feat(python): add CartPole reward/termination functions and PD controller
  python/clanker_gym/__init__.py
  python/clanker_gym/rewards.py
  python/clanker_gym/terminations.py
  python/examples/cartpole_closed_loop.py
  python/tests/test_rewards.py
  python/tests/test_terminations.py
Due: ruff-check, ruff-format, mypy

feat(gym): implement VecEnvInstance for GymEnv and add multi-env benchmark
  crates/clankers-gym/src/env.rs
  examples/src/bin/cartpole_vec_benchmark.rs
Due: rustfmt, clippy

feat(gym): add vectorized cart-pole server and Python benchmark
  examples/src/bin/cartpole_vec_gym.rs
  python/examples/cartpole_vec_benchmark.py
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

feat(python): add termination support to Gymnasium wrapper and CartPole factory
  python/clanker_gym/__init__.py
  python/clanker_gym/gymnasium_env.py
  python/tests/test_gymnasium_env.py
Due: ruff-check, ruff-format, mypy

feat(python): add PD baseline controller for cart-pole validation
  python/examples/cartpole_pd_controller.py
Due: ruff-check, ruff-format, mypy

feat(python): add PPO training script for cart-pole with SB3
  python/examples/cartpole_train_ppo.py
Due: ruff-check, ruff-format, mypy

fix(physics): reset rigid body state between episodes
  crates/clankers-gym/src/env.rs
  crates/clankers-physics/src/rapier/bridge.rs
  crates/clankers-physics/src/rapier/context.rs
  examples/src/bin/cartpole_gym.rs
  examples/src/bin/cartpole_vec_benchmark.rs
  examples/src/bin/cartpole_vec_gym.rs
  python/tests/test_gymnasium_env.py
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

feat(python): add SB3 VecEnv adapter for parallel PPO training
  python/clanker_gym/__init__.py
  python/clanker_gym/sb3_vec_env.py
  python/tests/test_sb3_vec_env.py
Due: ruff-check, ruff-format, mypy

feat(python): add parallel PPO training script comparing single vs vec env
  python/examples/cartpole_parallel_train_ppo.py
Due: ruff-check, ruff-format, mypy

fix(python): use ASCII dashes for Windows console compatibility
  python/examples/cartpole_parallel_train_ppo.py
Due: ruff-check, ruff-format, mypy

chore(policy): add ort workspace dependency and onnx feature flag
  .delegate/work/20260224-200000-onnx-policy/01/IMPLEMENTATION.md
  .delegate/work/20260224-200000-onnx-policy/01/PLAN.md
  .delegate/work/20260224-200000-onnx-policy/01/TEST.md
  .delegate/work/20260224-200000-onnx-policy/LOOPS.yaml
  .delegate/work/20260224-200000-onnx-policy/TASK.md
  Cargo.lock
  Cargo.toml
  crates/clankers-policy/Cargo.toml
Due: none

chore(policy): add ort workspace dependency and onnx feature flag
  Cargo.lock
  Cargo.toml
  crates/clankers-policy/Cargo.toml
Due: none
