Repository cogeor/clankers: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Rust
      - id: rustfmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        types: [rust]
      - id: clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets
        language: system
        pass_filenames: false
        types: [rust]

      # Python
      - id: ruff-check
        name: ruff check
        entry: ruff check python/
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff format --check python/
        language: system
        pass_filenames: false
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy python/clanker_gym/
        language: system
        pass_filenames: false
        types: [python]

fix(cosmos-log): add Name+RenderLayers for segmentation and metadata fixes
  crates/clankers-render/src/cosmos_log/metadata.rs
  crates/clankers-render/src/cosmos_log/mod.rs
  crates/clankers-render/src/cosmos_log/writer.rs
  examples/Cargo.toml
  examples/src/arm_visuals.rs
  examples/src/bin/arm_pick_replay.rs
Due: rustfmt, clippy

feat(render): add segmentation shadow system for class-colored rendering
  crates/clankers-render/src/segmentation.rs
  examples/src/arm_visuals.rs
  examples/src/bin/arm_pick_replay.rs
Due: rustfmt, clippy

feat(render): add DepthMaterial for linear depth rendering via shader
  crates/clankers-render/src/cosmos_log/cameras.rs
  crates/clankers-render/src/cosmos_log/mod.rs
  crates/clankers-render/src/cosmos_log/writer.rs
  crates/clankers-render/src/depth_material.rs
  crates/clankers-render/src/depth_material.wgsl
  crates/clankers-render/src/lib.rs
Due: rustfmt, clippy

feat(replay): add headless deterministic Cosmos capture mode
  examples/src/bin/arm_pick_replay.rs
Due: rustfmt, clippy

fix(cosmos): fix depth shader, seg tonemapping, and headless capture
  crates/clankers-render/src/cosmos_log/cameras.rs
  crates/clankers-render/src/cosmos_log/writer.rs
  crates/clankers-render/src/depth_material.rs
  crates/clankers-render/src/depth_material.wgsl
  crates/clankers-render/src/segmentation.rs
  examples/src/bin/arm_pick_replay.rs
  python/clankers/cosmos/prepare.py
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

fix(cosmos): use absolute paths in ffmpeg concat file list
  python/clankers/cosmos/prepare.py
Due: ruff-check, ruff-format, mypy

refactor(cosmos): migrate inference from custom repo to diffusers pipeline
  python/clankers/cosmos/__init__.py
  python/clankers/cosmos/__main__.py
  python/clankers/cosmos/download.py
  python/clankers/cosmos/infer.py
  python/pyproject.toml
Due: ruff-check, ruff-format, mypy

fix(cosmos): fix ruff and mypy lint errors for CI
  python/clankers/cosmos/__main__.py
  python/clankers/cosmos/infer.py
  python/clankers/cosmos/prepare.py
  python/pyproject.toml
Due: ruff-check, ruff-format, mypy

refactor: deduplicate arm_policy_viz types and apply cargo fmt
  Cargo.lock
  README.md
  crates/clankers-physics/src/rapier/bridge.rs
  crates/clankers-render/src/cosmos_log/cameras.rs
  crates/clankers-render/src/cosmos_log/config.rs
  crates/clankers-render/src/cosmos_log/mod.rs
  crates/clankers-render/src/cosmos_log/writer.rs
  crates/clankers-render/src/depth.rs
  crates/clankers-render/src/depth_material.rs
  crates/clankers-render/src/segmentation.rs
  crates/clankers-viz/src/camera.rs
  docs/IMPLEMENTATION_PLAN.md
  docs/RUST_BEST_PRACTICES.md
  examples/src/bin/arm_ik_viz.rs
  examples/src/bin/arm_manipulation.rs
  examples/src/bin/arm_pick_gym.rs
  examples/src/bin/arm_pick_record.rs
  examples/src/bin/arm_pick_replay.rs
  examples/src/bin/arm_policy_viz.rs
  examples/tests/arm_startup.rs
Due: rustfmt, clippy

fix: resolve all clippy warnings and remove unused pre-commit config
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  crates/clankers-physics/src/rapier/bridge.rs
  crates/clankers-render/src/cosmos_log/metadata.rs
  crates/clankers-render/src/cosmos_log/writer.rs
  crates/clankers-render/src/depth.rs
  crates/clankers-render/src/depth_material.rs
  crates/clankers-render/src/segmentation.rs
  crates/clankers-sim/src/builder.rs
  examples/src/bin/arm_pick_replay.rs
  examples/tests/arm_startup.rs
Due: rustfmt, clippy

fix: resolve broken rustdoc links and mypy no-any-return errors
  crates/clankers-render/src/buffer.rs
  crates/clankers-render/src/cosmos_log/cameras.rs
  python/clankers/vision_dataset.py
Due: rustfmt, clippy, ruff-check, ruff-format, mypy

fix(record): make CameraFrameBuffers optional in record_image_system
  crates/clankers-record/src/recorder.rs
Due: rustfmt, clippy

perf(build): add cargo t alias to exclude examples from test runs
  .cargo/config.toml
Due: none

chore(ci): move -D warnings from RUSTFLAGS to clippy args
  .github/workflows/ci.yml
Due: none

chore: remove vendored onnxruntime, rely on ort download-binaries
  .cargo/config.toml
  .gitignore
Due: none

chore: relocate scratch reports, broaden .gitignore
  .gitignore
  check.txt
Due: none

docs(plan): formal plan for workstream 1 — clankers-core contracts
  docs/plans/WS1-plan.md
Due: none

docs(plan): formal plan for workstream 2 — layout-bound sensors and actions
  docs/plans/WS2-plan.md
Due: none

docs(plan): formal plan for workstream 3 — typed Action/Observation APIs and views
  docs/plans/WS3-plan.md
Due: none

docs(plan): formal plan for workstream 4 — protocol parity and image-on-reset
  docs/plans/WS4-plan.md
Due: none

docs(plan): formal plan for workstream 5 — clankers CLI as quality gate
  docs/plans/WS5-plan.md
Due: none

docs(plan): formal plan for workstream 6 — MCAP schema parity
  docs/plans/WS6-plan.md
Due: none

docs(plan): formal plan for workstream 7 — performance architecture
  docs/plans/WS7-plan.md
Due: none

docs(plan): formal plan for workstream 8 — examples separation and CI tightening
  docs/plans/WS8-plan.md
Due: none

feat(core): add JointLayout + four schema types
  Cargo.lock
  crates/clankers-core/Cargo.toml
  crates/clankers-core/src/layout.rs
  crates/clankers-core/src/lib.rs
  crates/clankers-core/src/schema.rs
  crates/clankers-core/tests/layout_determinism.rs
  crates/clankers-core/tests/schema_roundtrip.rs
Due: rustfmt, clippy

refactor(urdf): back actuated_joints with JointLayout-ordered Vec
  crates/clankers-urdf/src/parser.rs
  crates/clankers-urdf/src/types.rs
Due: rustfmt, clippy

docs(plan): formal plan for workstream 1.5 — stabilisation
  docs/plans/WS1.5-plan.md
Due: none

chore(physics): re-enable bevy_log feature
  crates/clankers-physics/Cargo.toml
Due: none

docs(claude): note workspace build paging-file constraint
  CLAUDE.md
Due: none

chore(urdf): polish W1 PR2 — drop private intra-doc link in actuated_joints
  crates/clankers-urdf/src/types.rs
Due: rustfmt, clippy

feat(env,physics,core): layout-bound sensor and motor APIs (deprecate count-only ctors)
  Cargo.lock
  crates/clankers-core/src/layout.rs
  crates/clankers-core/src/lib.rs
  crates/clankers-core/src/traits.rs
  crates/clankers-core/src/types.rs
  crates/clankers-env/src/lib.rs
  crates/clankers-env/src/sensors.rs
  crates/clankers-physics/src/rapier/systems.rs
  crates/clankers-physics/tests/motor_coverage.rs
  crates/clankers-sim/src/builder.rs
  crates/clankers-test-utils/Cargo.toml
  crates/clankers-test-utils/tests/layout_conformance.rs
Due: rustfmt, clippy

refactor(env,physics,examples): migrate sensors and motor overrides to JointLayout
  apps/clankers-app/src/main.rs
  crates/clankers-core/src/traits.rs
  crates/clankers-env/src/lib.rs
  crates/clankers-env/src/sensors.rs
  crates/clankers-env/src/systems.rs
  crates/clankers-env/tests/sensor_integration.rs
  crates/clankers-gym/src/env.rs
  crates/clankers-gym/src/server.rs
  crates/clankers-physics/src/rapier/systems.rs
  crates/clankers-policy/src/integration_tests.rs
  crates/clankers-sim/src/builder.rs
  crates/clankers-sim/src/headless.rs
  crates/clankers-sim/src/integration.rs
  crates/clankers-test-utils/src/spawn.rs
  crates/clankers-test-utils/tests/layout_conformance.rs
  examples/src/arm_setup.rs
  examples/src/bin/arm_gym.rs
  examples/src/bin/arm_pick_gym.rs
  examples/src/bin/arm_policy_viz.rs
  examples/src/bin/arm_with_policy.rs
  examples/src/bin/cartpole_gym.rs
  examples/src/bin/cartpole_policy_viz.rs
  examples/src/bin/cartpole_vec_benchmark.rs
  examples/src/bin/cartpole_vec_gym.rs
  examples/src/bin/multi_robot.rs
  examples/src/bin/multi_robot_viz.rs
  examples/src/bin/pendulum_headless.rs
  examples/src/bin/pendulum_viz.rs
  examples/src/bin/quadruped_mpc_viz.rs
  examples/src/quadruped_setup.rs
  examples/tests/mpc_walk.rs
Due: rustfmt, clippy

feat(core,env): add fallible Action accessors and zero-copy ObservationView (deprecate panicking/cloning paths)
  crates/clankers-core/src/error.rs
  crates/clankers-core/src/lib.rs
  crates/clankers-core/src/types.rs
  crates/clankers-core/src/view.rs
  crates/clankers-core/tests/action_fallible.rs
  crates/clankers-env/src/buffer.rs
  crates/clankers-env/src/vec_buffer.rs
  crates/clankers-env/tests/observation_view_roundtrip.rs
Due: rustfmt, clippy

refactor(core): migrate to fallible Action API, delete panicking helpers
  apps/clankers-app/src/main.rs
  crates/clankers-core/src/types.rs
  crates/clankers-env/src/buffer.rs
  crates/clankers-gym/src/env.rs
  crates/clankers-policy/src/integration_tests.rs
  crates/clankers-policy/src/onnx.rs
  crates/clankers-policy/src/policies.rs
  crates/clankers-policy/src/runner.rs
  crates/clankers-sim/src/headless.rs
  crates/clankers-sim/src/integration.rs
  crates/clankers-test-utils/tests/layout_conformance.rs
  crates/clankers-viz/src/ui.rs
  examples/src/bin/arm_gym.rs
  examples/src/bin/arm_pick_gym.rs
  examples/src/bin/arm_policy_viz.rs
  examples/src/bin/arm_with_policy.rs
  examples/src/bin/cartpole_gym.rs
  examples/src/bin/cartpole_policy_viz.rs
  examples/src/bin/cartpole_vec_benchmark.rs
  examples/src/bin/cartpole_vec_gym.rs
Due: rustfmt, clippy

feat(gym): add EncodedObservation enum, image-on-reset, correct protocol docs
  crates/clankers-gym/src/encoding.rs
  crates/clankers-gym/src/env.rs
  crates/clankers-gym/src/lib.rs
  crates/clankers-gym/src/protocol.rs
  crates/clankers-gym/src/server.rs
  crates/clankers-gym/src/state_machine.rs
  crates/clankers-gym/tests/protocol_image_reset.rs
Due: rustfmt, clippy

feat(python): add ProtocolError, schema validation, RawU8Image tag rename
  python/clankers/__init__.py
  python/clankers/_errors.py
  python/clankers/client.py
  python/clankers/env.py
  python/clankers/gymnasium_env.py
  python/tests/test_client_protocol_error.py
  python/tests/test_env.py
  python/tests/test_image_reset_matches_step_shape.py
Due: ruff-check, ruff-format, mypy

feat(cli,sim): clankers-app CLI promotion with validate/inspect/info subcommands and scenarios module
  Cargo.lock
  apps/clankers-app/Cargo.toml
  apps/clankers-app/src/commands/bench.rs
  apps/clankers-app/src/commands/info.rs
  apps/clankers-app/src/commands/inspect.rs
  apps/clankers-app/src/commands/mod.rs
  apps/clankers-app/src/commands/record.rs
  apps/clankers-app/src/commands/replay.rs
  apps/clankers-app/src/commands/run.rs
  apps/clankers-app/src/commands/serve.rs
  apps/clankers-app/src/commands/validate.rs
  apps/clankers-app/src/commands/viz.rs
  apps/clankers-app/src/main.rs
  apps/clankers-app/tests/cli_info_json.rs
  apps/clankers-app/tests/cli_inspect.rs
  apps/clankers-app/tests/cli_validate.rs
  apps/clankers-app/tests/fixtures/corrupted.urdf
  apps/clankers-app/tests/fixtures/minimal.urdf
  crates/clankers-sim/Cargo.toml
  crates/clankers-sim/src/lib.rs
  crates/clankers-sim/src/scenarios/mod.rs
Due: rustfmt, clippy

feat(cli,sim): wire arm_pick/cartpole scenarios + clankers-app run/serve subcommands
  Cargo.lock
  apps/clankers-app/Cargo.toml
  apps/clankers-app/src/commands/run.rs
  apps/clankers-app/src/commands/serve.rs
  apps/clankers-app/src/main.rs
  apps/clankers-app/tests/cli_run_scenario.rs
  apps/clankers-app/tests/cli_serve_protocol.rs
  crates/clankers-sim/Cargo.toml
  crates/clankers-sim/src/scenarios/arm_pick.rs
  crates/clankers-sim/src/scenarios/cartpole.rs
  crates/clankers-sim/src/scenarios/mod.rs
  crates/clankers-sim/tests/scenarios_registry.rs
Due: rustfmt, clippy

feat(cli): add clankers-app record/replay subcommands and hide deprecated Headless
  Cargo.lock
  apps/clankers-app/Cargo.toml
  apps/clankers-app/src/commands/record.rs
  apps/clankers-app/src/commands/replay.rs
  apps/clankers-app/src/main.rs
  apps/clankers-app/tests/cli_record.rs
  apps/clankers-app/tests/cli_replay.rs
Due: rustfmt, clippy
