Repository cogeor/clankers: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Rust
      - id: rustfmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        types: [rust]
      - id: clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets
        language: system
        pass_filenames: false
        types: [rust]

      # Python
      - id: ruff-check
        name: ruff check
        entry: ruff check python/
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff format --check python/
        language: system
        pass_filenames: false
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy python/clanker_gym/
        language: system
        pass_filenames: false
        types: [python]

refactor(viz): move phys_to_vis coordinate transform to engine crate
  crates/clankers-viz/src/lib.rs
  crates/clankers-viz/src/transform.rs
  examples/src/bin/arm_ik_viz.rs
  examples/src/bin/quadruped_mpc_viz.rs
Due: rustfmt, clippy

feat(core): enrich StepInfo with body_poses, contact_events, is_success
  crates/clankers-core/src/lib.rs
  crates/clankers-core/src/types.rs
  crates/clankers-gym/src/protocol.rs
Due: rustfmt, clippy

feat(gym): add Dict composite space with recursive nesting
  python/clanker_gym/gymnasium_env.py
  python/clanker_gym/sb3_vec_env.py
  python/clanker_gym/spaces.py
  python/tests/test_spaces.py
Due: ruff-check, ruff-format, mypy

feat(gym): add GoalEnv wrapper for HER-compatible goal-conditioned RL
  python/clanker_gym/goal_env.py
  python/tests/test_goal_env.py
Due: ruff-check, ruff-format, mypy

feat(gym): add NormalizeObservation and FrameStack wrappers
  python/clanker_gym/__init__.py
  python/clanker_gym/wrappers.py
  python/tests/test_wrappers.py
Due: ruff-check, ruff-format, mypy

feat(gym): add NormalizeReward, ClipReward wrappers + action clipping
  python/clanker_gym/__init__.py
  python/clanker_gym/gymnasium_env.py
  python/clanker_gym/wrappers.py
  python/tests/test_wrappers.py
Due: ruff-check, ruff-format, mypy

feat(gym): add arm task presets + gymnasium.register() integration
  python/clanker_gym/envs/__init__.py
  python/clanker_gym/envs/arm_pick.py
  python/clanker_gym/envs/arm_reach.py
  python/clanker_gym/registration.py
  python/tests/test_registration.py
Due: ruff-check, ruff-format, mypy

feat(gym): add evaluation module with success rate + reward breakdown
  python/clanker_gym/evaluation.py
  python/tests/test_evaluation.py
Due: ruff-check, ruff-format, mypy

docs: update data_gen.txt spec + delegate work structure
  aug.txt
  data_gen.txt
Due: none

feat(synthetic): add package scaffold + Pydantic data contracts
  python/clankers_synthetic/__init__.py
  python/clankers_synthetic/pyproject.toml
  python/clankers_synthetic/specs.py
  python/tests/clankers_synthetic/__init__.py
  python/tests/clankers_synthetic/test_specs.py
Due: ruff-check, ruff-format, mypy

feat(synthetic): add OpenAI API client with retry + provenance
  python/clankers_synthetic/openai_client.py
  python/tests/clankers_synthetic/test_openai_client.py
Due: ruff-check, ruff-format, mypy

feat(synthetic): add pure-Python DLS IK solver with URDF chain parsing
  python/clankers_synthetic/ik_solver.py
  python/tests/clankers_synthetic/test_ik_solver.py
Due: ruff-check, ruff-format, mypy

feat(synthetic): add plan parser with strict validation + canonicalization
  python/clankers_synthetic/parser.py
  python/tests/clankers_synthetic/test_parser.py
Due: ruff-check, ruff-format, mypy

feat(synthetic): add simulation validator with hard/soft gates
  python/clankers_synthetic/__init__.py
  python/clankers_synthetic/validator.py
  python/tests/clankers_synthetic/test_validator.py
Due: ruff-check, ruff-format, mypy

feat(synthetic): add prompt assembler + LLM planner
  python/clankers_synthetic/planner.py
  python/tests/clankers_synthetic/test_planner.py
Due: ruff-check, ruff-format, mypy

feat(synthetic): add skill compiler for plan execution through env
  python/clankers_synthetic/__init__.py
  python/clankers_synthetic/compiler.py
  python/tests/clankers_synthetic/test_compiler.py
Due: ruff-check, ruff-format, mypy

feat(synthetic): add PVCB deterministic refiner with LLM fallback
  python/clankers_synthetic/pvcb_refiner.py
  python/tests/clankers_synthetic/test_pvcb_refiner.py
Due: ruff-check, ruff-format, mypy

feat(synthetic): add dataset packager with JSON episodes + provenance
  python/clankers_synthetic/__init__.py
  python/clankers_synthetic/packager.py
  python/tests/clankers_synthetic/test_packager.py
Due: ruff-check, ruff-format, mypy

feat(synthetic): add end-to-end pipeline + CLI entrypoint
  python/clankers_synthetic/__init__.py
  python/clankers_synthetic/__main__.py
  python/clankers_synthetic/cli.py
  python/clankers_synthetic/pipeline.py
  python/tests/clankers_synthetic/test_pipeline_e2e.py
Due: ruff-check, ruff-format, mypy

fix(gym): add reward to StepResult, fix obs_dim product, fix Ping timestamp units
  crates/clankers-core/src/types.rs
  crates/clankers-env/src/vec_runner.rs
  crates/clankers-gym/src/env.rs
  crates/clankers-gym/src/protocol.rs
  crates/clankers-gym/src/server.rs
  crates/clankers-gym/src/state_machine.rs
  crates/clankers-gym/src/vec_env.rs
Due: rustfmt, clippy

fix(env): apply noise in NoisySensor::read, add episode_reset for noise state
  crates/clankers-core/src/traits.rs
  crates/clankers-env/src/sensors.rs
  crates/clankers-env/src/systems.rs
  crates/clankers-env/tests/sensor_integration.rs
  crates/clankers-render/src/sensor.rs
Due: rustfmt, clippy

fix(physics): correct PhysicsJoint parent/child, apply URDF RPY, add collision geometry
  crates/clankers-physics/src/rapier/bridge.rs
  crates/clankers-sim/src/integration.rs
  crates/clankers-test-utils/src/mocks.rs
Due: rustfmt, clippy

fix(domain-rand): sample geometry scale once for visual and physics consistency
  crates/clankers-domain-rand/src/lib.rs
Due: rustfmt, clippy

fix(env): implement AutoResetMode::NextStep in VecEnvRunner
  crates/clankers-env/src/vec_runner.rs
Due: rustfmt, clippy

fix(synthetic): fix 5 Python pipeline bugs (sys.exit, obs layout, dt, TCP leak, skill no-ops)
  python/clankers_synthetic/compiler.py
  python/clankers_synthetic/mcap_writer.py
  python/clankers_synthetic/pipeline.py
  python/clankers_synthetic/validator.py
Due: ruff-check, ruff-format, mypy

fix(multi): fix three standalone Rust bugs (MCAP Drop, backlash model, stats growth)
  crates/clankers-actuator-core/src/transmission.rs
  crates/clankers-record/src/recorder.rs
  crates/clankers-sim/src/stats.rs
Due: rustfmt, clippy

feat(clankers): add generic JointEncoder for DL applications
  python/clankers/__init__.py
  python/clankers/joint_encoder.py
  python/tests/test_joint_encoder.py
Due: ruff-check, ruff-format, mypy

feat(clankers): add TrajectoryDataset loader for BC training
  python/clankers/__init__.py
  python/clankers/trajectory_dataset.py
  python/tests/test_trajectory_dataset.py
Due: ruff-check, ruff-format, mypy

feat(examples): add model-agnostic BC trainer for joint trajectories
  python/examples/train_joint_bc.py
Due: ruff-check, ruff-format, mypy

feat(examples): add policy replay script for trace comparison
  python/examples/replay_policy.py
Due: ruff-check, ruff-format, mypy

feat(synthetic): add batch dataset generation script
  python/clankers_synthetic/scripts/batch_generate.py
Due: ruff-check, ruff-format, mypy

feat(clankers): add velocity prediction mode to DL pipeline
  python/clankers/trajectory_dataset.py
  python/examples/replay_policy.py
  python/examples/train_joint_bc.py
Due: ruff-check, ruff-format, mypy

feat(examples): add closed-loop pick policy evaluation script
  python/examples/eval_pick_policy.py
Due: ruff-check, ruff-format, mypy

fix(python): migrate Pydantic .dict() to .model_dump(), add DL pipeline integration tests
  python/clankers_synthetic/packager.py
  python/clankers_synthetic/pipeline.py
  python/clankers_synthetic/planner.py
  python/clankers_synthetic/pvcb_refiner.py
  python/clankers_synthetic/scripts/batch_generate.py
  python/clankers_synthetic/scripts/run_arm_pick.py
  python/tests/clankers_synthetic/test_pipeline_e2e.py
  python/tests/clankers_synthetic/test_planner.py
  python/tests/clankers_synthetic/test_specs.py
  python/tests/test_dl_pipeline_e2e.py
Due: ruff-check, ruff-format, mypy

chore: add .env to gitignore
  .gitignore
Due: none

style(rust): apply cargo fmt across workspace
  crates/clankers-actuator-core/src/transmission.rs
  crates/clankers-domain-rand/src/randomizers.rs
  crates/clankers-gym/src/env.rs
  crates/clankers-physics/src/rapier/bridge.rs
  crates/clankers-physics/src/rapier/mod.rs
  crates/clankers-physics/src/rapier/systems.rs
  crates/clankers-sim/src/builder.rs
  crates/clankers-viz/src/transform.rs
  examples/src/arm_setup.rs
  examples/src/bin/arm_bench.rs
  examples/src/bin/arm_gym.rs
  examples/src/bin/arm_ik_viz.rs
Due: rustfmt, clippy

fix(render): update sensor read calls for &mut self API
  crates/clankers-render/src/sensor.rs
  examples/src/bin/multi_robot.rs
  examples/src/bin/pendulum_headless.rs
Due: rustfmt, clippy

feat(examples): add arm_pick_gym and arm_pick_replay binaries
  Cargo.lock
  crates/clankers-gym/Cargo.toml
  examples/Cargo.toml
  examples/src/bin/arm_pick_gym.rs
  examples/src/bin/arm_pick_replay.rs
Due: rustfmt, clippy

refactor(python): rename clanker_gym imports to clankers
  python/examples/cartpole_closed_loop.py
  python/examples/cartpole_parallel_train_ppo.py
  python/examples/cartpole_pd_controller.py
  python/examples/cartpole_play_ppo.py
  python/examples/cartpole_read_state.py
  python/examples/cartpole_train_ppo.py
  python/examples/cartpole_vec_benchmark.py
  python/examples/train_ppo.py
Due: ruff-check, ruff-format, mypy
